Always respond in Russian.
Всегда отвечай на русском языке.
Если что-то надо создать, то создавай это.
Если необходимо использовать командую строку, то используй командную строку.
Не говори что все готово, если надо подождать пока загрузится сайт.
Жди, потом зайти проверь и так далее.
Проверяй код на ошибки.
Проверяй можешь ли зайти на сайт.
